${{#spritesheet}}{{container}}{{/spritesheet}}: (
  {{#items}}
  '{{name}}-x': -{{x}}px,
  '{{name}}-y': -{{y}}px,
  '{{name}}-width': {{width}}px,
  '{{name}}-height': {{height}}px,
  {{/items}}
);

{{#items}}
%{{#spritesheet}}{{container}}{{/spritesheet}}-{{name}}-dimensions {
  width: {{width}}px;
  height: {{height}}px;
}
%{{#spritesheet}}{{container}}{{/spritesheet}}-{{name}}-background {
  background: image-url('sprites/{{#spritesheet}}{{spriteFileName}}{{/spritesheet}}') -{{x}}px -{{y}}px no-repeat;
}
{{/items}}

{{#spritesheet}}
@mixin {{container}}-sprite($imgName, $set-dimensions: false) {
  @extend %{{container}}-#{$imgName}-background;

  @if $set-dimensions == true {
    @extend %{{container}}-#{$imgName}-dimensions;
  }
}

@mixin sprite-position($map, $imgName, $offset-x, $offset-y) {
  $x: sprite-x($map, $imgName);
  $y: sprite-y($map, $imgName);

  background-position: ($x + $offset-x) ($y + $offset-y);
}

@mixin {{container}}-sprite-position($imgName, $offset-x, $offset-y) {
  $x: sprite-x(${{container}}, $imgName);
  $y: sprite-y(${{container}}, $imgName);

  background-position: ($x + $offset-x) ($y + $offset-y);
}

@function {{container}}-sprite-width($imgName) {
  @return map-get(${{container}}, "#{$imgName}-width");
}

@function {{container}}-sprite-height($imgName) {
  @return map-get(${{container}}, "#{$imgName}-height");
}

@function sprite-position($map, $imgName, $offset-x, $offset-y) {
  $x: sprite-x($map, $imgName);
  $y: sprite-y($map, $imgName);

  @return ($x + $offset-x) ($y + $offset-y);
}

@function {{container}}-sprite-position($imgName, $offset-x, $offset-y) {
  $x: sprite-x(${{container}}, $imgName);
  $y: sprite-y(${{container}}, $imgName);

  @return ($x + $offset-x) ($y + $offset-y);
}
{{/spritesheet}}
