${{#spritesheet}}{{container}}{{/spritesheet}}: (
  {{#items}}
  '{{name}}-width': {{width}}px,
  '{{name}}-height': {{height}}px,
  {{/items}}
);

@font-face {
  font-family: '{{#spritesheet}}{{container}}{{/spritesheet}}';
  src: url('{{#spritesheet}}{{image}}{{/spritesheet}}.eot');
  src: local('☺'),
       url('{{#spritesheet}}{{image}}{{/spritesheet}}.eot?#iefix') format('embedded-opentype'),
       url('{{#spritesheet}}{{image}}{{/spritesheet}}.woff') format('woff'),
       url('{{#spritesheet}}{{image}}{{/spritesheet}}.ttf') format('truetype'),
       url('{{#spritesheet}}{{image}}{{/spritesheet}}.svg#{{#spritesheet}}{{container}}{{/spritesheet}}') format('svg');
}
{{#items}}
%{{#with ../spritesheet}}{{container}}{{/with}}-{{name}}-dimensions,
.{{#with ../spritesheet}}{{container}}{{/with}}-{{name}}-dimensions {
  width: {{width}}px;
  height: {{height}}px;
}

%{{#with ../spritesheet}}{{container}}{{/with}}-{{name}},
.{{#with ../spritesheet}}{{container}}{{/with}}-{{name}} {
  &:before {
    font-family: '{{#with ../spritesheet}}{{container}}{{/with}}';
    content: '{{unicode}}';
  }
}

@mixin {{#with ../spritesheet}}{{container}}{{/with}}-{{name}} {
  &:before {
    font-family: '{{#with ../spritesheet}}{{container}}{{/with}}';
    content: '{{unicode}}';
    @content;
  }
}

%{{#with ../spritesheet}}{{container}}{{/with}}-{{name}}-after,
.{{#with ../spritesheet}}{{container}}{{/with}}-{{name}}-after {
  &:after {
    font-family: '{{#with ../spritesheet}}{{container}}{{/with}}';
    content: '{{unicode}}';
  }
}

@mixin {{#with ../spritesheet}}{{container}}{{/with}}-{{name}}-after {
  &:after {
    font-family: '{{#with ../spritesheet}}{{container}}{{/with}}';
    content: '{{unicode}}';
    @content;
  }
}

{{/items}}

{{#spritesheet}}
@function {{container}}-width($imgName) {
  @return map-get(${{container}}, "#{$imgName}-width");
}

@function {{container}}-height($imgName) {
  @return map-get(${{container}}, "#{$imgName}-height");
}
{{/spritesheet}}
